@model ModelThread


<article>
    <h1 class="md-font"><strong>@Model.getPeekData().Name</strong></h1>

    <h2 class="sm-font"><a asp-controller="Channel" asp-action="getSpecificDirectory" asp-route-Cid="@Model.getPeekData().CID" asp-route-Did="@Model.getPeekData().directorId">/@Model.getPeekData().directorName</a></h2>
    <p>@Model.getPeekData().PublishDate</p>
    <br />
    @Html.Raw(@Model.Texts)
</article>
<hr/>
<section>
    <h1 class="md-font">Comments</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <form method="post" asp-controller="Channel" asp-action="addComment" asp-route-Cid="@Model.getPeekData().CID" asp-route-Did="@Model.getPeekData().directorId" asp-route-Tid="@Model.getPeekData().ID">
                <textarea class="form-control" name="Comment"></textarea>
                <button class="btn btn-danger" type="submit">Submit</button>
            </form>
        </div>
    }
    else
    {
        <a class="btn btn-block btn-primary" asp-controller="Start" asp-action="Welcome"> SignUp or Login To Comment</a>
    }
    <br />
    @foreach (var comment in Model.GetComments())
    {
        <div class="float-left" style="height:58px;">
            <img class="md-img" src="@comment.userImg" alt="error" />
        </div>
        <div style="width:inherit">
            <h2 class="sm-font">@comment.userName</h2>
            <p>@comment.Comment</p>
        </div>
    }
</section>