@model IEnumerable<Files>

<div class="row">
    @foreach (var file in Model)
    {
        <div class="col-12 LV">

            <div class="New">
                <div class="float-left image" style="background-image: url()">
                    @*<div><img src="~/image/Test/square_Marc.jpg" /></div>*@
                </div>
                <div class="float-left Discription">
                    <div>
                        <p style="font-size:large ; margin-bottom:3px;"><b><a asp-controller="Channel" asp-action="Thread" asp-route-Cid="@file.FCid" asp-route-Did="@file.FId" asp-route-Tid="@file.FId">@file.FName</a></b></p>
                        <p>@file.FDescription</p>
                    </div>
                    @*<div class="genralInfo">
                            <span>@file.PublishDate</span><br />
                            <span>
                                <i class="far fa-eye"></i><span class="mr-2"> 5</span>
                                <i class="fas fa-comments"></i><span> 20</span>
                            </span>
                        </div>*@
                </div>
                <div class="float-left react">
                    <ul>
                        <li class="Save" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                            <i class="far fa-bookmark" id="out"></i>
                            <i class="fas fa-bookmark" id="in" hidden></i>
                        </li>
                        <li class="Like" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                            <i class="far fa-thumbs-up"></i>
                            <i class="fas fa-thumbs-up" hidden></i>
                        </li>
                        <li class="Dislike" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                            <i class="far fa-thumbs-down"></i>
                            <i class="fas fa-thumbs-down" hidden></i>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    }
</div>