@model ModelChannel
@{
    ViewData["Title"] = Model.Name;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12" id="Header">
                <img src="@Model.img" alt="Channelbanner" />
                <button id="ChangeHeader"  onclick="onNewHeader()" style="">
                    <i class="fas fa-camera"></i>
                </button>
            </div>
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Channel" asp-action="MyChannel" asp-route-Cid="@Model.ID">Home <span class="sr-only">(current)</span></a>
                            </li>
                            @for (int i = 0; i < 4; i++)
                            {
                                if (Model.getNavBar()[i].Name != null || Model.getNavBar()[i].Url != null)
                                {
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Model.getNavBar()[i].Url">@Model.getNavBar()[i].Name<span class="sr-only">(current)</span></a>
                                </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Channel" asp-action="About" asp-route-Cid="@Model.ID">About <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</section>
<section style="margin-top:1%">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="ViewBox">
                    <h3>Channel Feed </h3>
                    <span class="free-postion top-right md-font">
                        <i id="block" class="fas fa-th-large">d</i>
                        <i id="list" class="fas fa-bars">s</i>
                    </span>
                    <div class="row">
                        @foreach (var file in Model.getAllThread())
                        {
                            <div class="col-12 LV">

                                <div class="New">
                                    <div class="float-left image" style="background-image: url(@file.getPeekData().img)">
                                        @*<div><img src="~/image/Test/square_Marc.jpg" /></div>*@
                                    </div>
                                    <div class="float-left Discription">
                                        <div>
                                            <p style="font-size:large ; margin-bottom:3px;"><b><a asp-controller="Channel" asp-action="Thread" asp-route-Cid="@Model.ID" asp-route-Did="@file.getPeekData().directorId" asp-route-Tid="@file.getPeekData().ID">@file.getPeekData().Name</a></b></p>
                                            <p>@file.getPeekData().Description</p>
                                        </div>
                                        @*<div class="genralInfo">
                                                <span>@file.PublishDate</span><br />
                                                <span>
                                                    <i class="far fa-eye"></i><span class="mr-2"> 5</span>
                                                    <i class="fas fa-comments"></i><span> 20</span>
                                                </span>
                                            </div>*@
                                    </div>
                                    <div class="float-left react">
                                        <ul>
                                            <li class="Save" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                                                <i class="far fa-bookmark" id="out"></i>
                                                <i class="fas fa-bookmark" id="in" hidden></i>
                                            </li>
                                            <li class="Like" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                                                <i class="far fa-thumbs-up"></i>
                                                <i class="fas fa-thumbs-up" hidden></i>
                                            </li>
                                            <li class="Dislike" onmouseover="iconOver(this)" onmouseout="iconOut(this)">
                                                <i class="far fa-thumbs-down"></i>
                                                <i class="fas fa-thumbs-down" hidden></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="sm-Rectangle">
                            <div>
                                <img class="md-img float-left" src="@Model.simg" />
                                <div class="float-left">
                                    <h4>@Model.Name</h4>
                                    <h6>@Model.FollowersNum() followers</h6>
                                </div>
                                <div class="free-postion top-right">
                                    @if (User.Identity.IsAuthenticated == true)
                                    {
                                        @if (Model.ownerID.Equals(User.Identity.Name))
                                        {
                                            <a class="btn btn-danger" asp-controller="Channel" asp-action="ChannelPanel" asp-route-Cid="@Model.ID">Setting</a>

                                        }
                                        else
                                        {
                                            if (ViewBag.State == "N")
                                            {
                                                <form method="post" asp-controller="Channel" asp-action="AddFollower" asp-route-Cid="@Model.ID">
                                                    <button class="btn btn-primary" type="submit"> Follow</button>
                                                </form>
                                            }
                                            else if (ViewBag.State == "F")
                                            {
                                                <form method="post" asp-controller="Channel" asp-action="RemoveFollower" asp-route-Cid="@Model.ID">
                                                    <button class="btn btn-primary" type="submit"> Unfollow</button>
                                                </form>
                                            }
                                            else if (ViewBag.State == "B")
                                            {
                                                <form method="post" asp-controller="Channel" asp-action="AddFollower" asp-route-Cid="@Model.ID">
                                                    <button class="btn btn-primary" type="submit"> UnBlock</button>
                                                </form>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" type="submit"><a class="link" asp-controller="Start" asp-action="Welcome"> SignUp</a></button>

                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    @if(Model.ownerID.Equals(User.Identity.Name)){
                    <div class="col-12" style="margin-top:4%">
                        <div class="sm-Rectangle" id="AddItemTable">
                            @* class="infoTable" *@
                            <button onclick="onNewFolder()"><i class="fas fa-folder-plus"></i></button>
                            <button onclick="onNewThread()"><i class="fas fa-file-medical"></i></button>
                        </div>
                    </div>
                    }
                    <div class="col-12" style="margin-top:4%;">
                        <div id="Folders" class="md-Rectangle">
                            @*id="Folders"*@
                            <ul>
                                @foreach (var Directory in Model.getAllDirectory())
                                {
                                    <li onclick="onClick(this)">
                                        <i class="fas fa-folder-open"></i>
                                        @Directory.Name
                                        <ul>
                                            @foreach (var item in Directory.getallThread())
                                            {
                                                <li>| <i class="fas fa-file"></i>&ensp;
                                                      <a class="link" asp-controller="Channel" asp-action="Thread" asp-route-Cid="@Model.ID" asp-route-Did="@Directory.ID" asp-route-Tid="@item.getPeekData().ID">
                                                          @if (item.getPeekData().Name.Length > 27)
                                                          {
                                                              
                                                                  string s = item.getPeekData().Name.Substring(0, 22) + "........";
                                                              @s
                                                                     

                                                          }
                                                          else
                                                          {

                                                              @item.getPeekData().Name
                                                          }

                                                      </a>                                           
                                                </li>
                                            
                                            }
                                        </ul>
                                    </li>
                                }                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="NewFolder">
        <span ><strong style="font-size:larger">Add new Folder</strong></span>
        <i onclick="offNewFolder()" id="Close" class="fas fa-window-close"></i>
        @*<form method="post" asp-action="AddFolder" asp-controller="Channel">
            <input asp-for="FolderName" type="text" id="FolderNameInput" class="form-control" placeholder="Folder Name">
            <span asp-validation-for="FolderName"></span>
            <button id="FolderNameSubmit" class="btn btn-danger" type="submit">Add</button>
        </form>*@
    </div>

<div id="Headers" style="display:none">

    <span><strong style="font-size:larger">Change Channel Header</strong></span>
    <i onclick="offNewFolder()" id="Close" class="fas fa-window-close"></i>
    <form method="post" asp-controller="Channel" asp-action="ChangeChannelHeaderPic" asp-route-ID="fc" enctype="multipart/form-data">
        <input type="file" name="Pic" />
        <input type="submit" value="Uploade" />
    </form>
</div>
<div id="overlay" onclick="offNewThread()" style="overflow:auto">
    @await Component.InvokeAsync("NewThread")
</div>




<script src="~/JavaScript/MyChannel.js"></script>